.coin {
  align-items: center;
  background-color: var(--color-yellow);
  border-radius: 50%;
  box-shadow: -3px 3px var(--color-yellowHover);
  display: flex;
  flex-shrink: 0;
  height: 36px;
  justify-content: center;
  width: 36px;
}

.container {
  align-items: center;
  display: flex;
  column-gap: 24px;
  justify-content: space-between;
}

.left {
  align-items: center;
  column-gap: 16px;
  display: flex;
}

.time {
  flex-shrink: 0;
}